{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Hello World!</h1>

      <p class="subtitle">Welcome to test1 {{title}}</p>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
            <button id="getUser">getuser</button>
             <button id="getScrumboard">getscrumboard</button>
        </div>
      </div>
    </section>
  </div>
</div>

<script type="text/javascript">
  document.getElementById("getUser").addEventListener("click", getUser)
    function getUser(){
      console.log("clicked")
      AP.user.getCurrentUser(function(user) {
      console.log("The Atlassian Account ID is", user.atlassianAccountId);
    });
    } 
  document.getElementById("getScrumboard").addEventListener("click", getScrumBoardsId)
  function getScrumBoardsId(){
    console.log("cicked board");
    AP.request('/rest/agile/1.0/board')
      .then(data => alert(data.body))
      .catch(e => alert(e.err));
  } 
</script>